<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <%= flag_list 16 do
        flags :us, :ua, :ru, selected: I18n.locale.to_sym
        end %>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to (t :ste_logo), root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <%= active_link_to (t 'nav.home'), root_path, :wrap_tag => :li %>
                <%= active_link_to (t 'nav.about'), about_path, :wrap_tag => :li %>
                <%= active_link_to (t 'nav.services'), services_path, :wrap_tag => :li %>
                <%= active_link_to (t 'nav.news'), newsroom_path, :wrap_tag => :li %>

                <li class="dropdown <% if %w(defence research downloads item).include? action_name %>active<% end %>">
                    <a href="<%= catalogues_path %>" class="dropdown-toggle" data-toggle="dropdown">
                        <%= t 'nav.catalogues' %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <%= active_link_to (t 'nav.defence'), defence_path, :wrap_tag => :li %>
                        <%= active_link_to (t 'nav.rnd'), research_path, :wrap_tag => :li %>
                        <%= active_link_to (t 'nav.downloads'), downloads_path, :wrap_tag => :li %>
                    </ul>
                </li>

                <li class="dropdown <% if %w(uav tank ship gun).include? action_name %>active<% end %>">
                    <a href="<%= pano_views_path %>" class="dropdown-toggle" data-toggle="dropdown">
                        <%= t 'nav.pano_views' %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <%= active_link_to (t 'nav.uav'), the_uav_path, :wrap_tag => :li %>
                    </ul>
                </li>

                <%= active_link_to (t 'nav.licenses'), licenses_path, :wrap_tag => :li %>
                <%= active_link_to (t 'nav.contact_us'), contact_path, :wrap_tag => :li %>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>