<% content_for :header do %>
<script src="assets/js/Chart.js"></script>
<% end %>

<% content_for :footer do %>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<% end %>

<%= render "shared/menu" %>

<!-- Aboutwrap -->
<div id="aboutwrap">
  <div class="container">
    <div class="row">
      <h1><br/> <b>SpetsTechnoExport</b> focused on<br/>export-import activities at foreign armaments markets.</h1>
    </div>
  </div>
</div>
<!-- /Aboutwrap -->

<!-- Intro Section -->
<div class="container sinfo">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h4>State Foreign Trade Enterprise <b>«SpetsTechnoExport»</b> specializes in export of up-to-date military technologies and rendering services on repair, modernization and maintenance of weapons and special-purpose equipment.</b>
        <br><br>
        <p>We are proud to remind you that Ukraine is one of few countries in the world that has great technological knowledge in industry and possesses full technological circle of manufacture.</p>
        <p>Being conscious that fruitful cooperation at highly competitive market is a mutual interest of the Customers and Suppliers, we are proud to propose services of Ukrainian design bureaus and OEMs to fulfill all Customer’s requirements.</p></h4>
    </div>
  </div><!-- /row -->
  <hr>
</div><!-- /container -->


<!-- Spacer Section -->
<div id="sp1">
  <div class="container">
    <div class="row">
      <br>
      <h3>We have best practices and experience in arrangement of overhaul, life extension and modernization.</h3>
      <br>
    </div>
  </div><!-- /container -->
</div><!-- /sp1 -->

<!-- Charts Section -->
<div class="container sinfo">
  <div class="row centered">
    <h3>Our Capabilities</h3>
    <br>

    <!-- First Chart -->
    <div class="col-lg-3">
      <canvas id="canvas" height="130" width="130"></canvas>
      <br>
      <script>
          var doughnutData = [
              {
                  value: 70,
                  color:"#1abc9c"
              },
              {
                  value : 30,
                  color : "#ecf0f1"
              }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
      </script>
      <p><b>Navy</b></p>
      <!--p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</small></p-->
    </div><!-- /col-lg-3 -->

    <!-- Second Chart -->
    <div class="col-lg-3">
      <canvas id="canvas2" height="130" width="130"></canvas>
      <br>
      <script>
          var doughnutData = [
              {
                  value: 90,
                  color:"#1abc9c"
              },
              {
                  value : 10,
                  color : "#ecf0f1"
              }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData);
      </script>
      <p><b>Modernization</b></p>
      <!--p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</small></p-->
    </div><!-- /col-lg-3 -->

    <!-- Third Chart -->
    <div class="col-lg-3">
      <canvas id="canvas3" height="130" width="130"></canvas>
      <br>
      <script>
          var doughnutData = [
              {
                  value: 75,
                  color:"#1abc9c"
              },
              {
                  value : 25,
                  color : "#ecf0f1"
              }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas3").getContext("2d")).Doughnut(doughnutData);
      </script>
      <p><b>Aerospace</b></p>
      <!--p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</small></p-->
    </div><!-- /col-lg-3 -->

    <!-- Fourth Chart -->
    <div class="col-lg-3">
      <canvas id="canvas4" height="130" width="130"></canvas>
      <br>
      <script>
          var doughnutData = [
              {
                  value: 80,
                  color:"#1abc9c"
              },
              {
                  value : 20,
                  color : "#ecf0f1"
              }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas4").getContext("2d")).Doughnut(doughnutData);
      </script>
      <p><b>Military Education</b></p>
      <!--p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</small></p-->
    </div><!-- /col-lg-3 -->

  </div><!-- /row -->
</div><!-- /container -->

<%= render "shared/footer" %>